.header {
    width: 100%;
    height: 100px;
    display: flex;
    box-shadow: 1px 10px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 10px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 10px 5px 0 rgba(0, 0, 0, 0.25);
}

.left {
    flex: 1 0 0;
}

img {
    height: 100px;
}

.center {
    flex: 1 0 0;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0.5px;
    color: #0081e9;
}

.right {
    flex: 1 0 0;
}

.main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

.buttonGroup {
    margin-top: 20px;
    width: 100%;
}

.button1 {
    margin-bottom: 0;
}

.button1,
.button2,
.button3 {
    text-align: center;
    margin-bottom: 20px;

}

.btn1,
.btn2 {
    width: 200px;
}

.saveText {
    margin-top: 20px;
}

#virtual {
    margin: 0;
    padding: 0;
    min-inline-size: 40%;
    min-block-size: 50;
    font-family: sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);

}


#virtual {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#virtual > div {
    display: inline-block;
    inline-size: 3px;
    block-size: 100px;
    margin: 0 7px;
    background: currentColor;
    transform: scaleY(0.5);
    opacity: .25;
}

#virtual.error {
    color: #f7451d;
    min-inline-size: 20em;
    max-inline-size: 30em;
    margin: 0 auto;
    white-space: pre-line;
}


#transcript {
    position: relative;
    inset-block-start: 60%;
    inline-size: 77vw;
    /* padding-inline-start: 20vw;
    padding-inline-end: 20vw;
    font-size: x-large; */
    justify-content: center;
    margin-top: 57px;
}


textarea {
    height: 300px;
}


a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}


.custom {
    width: 300px !important;
}