body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

.file-upload {
    background-color: #dfdbdb;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 200px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
}

.file-upload-content, .ready-player-1 {
    display: none;
    text-align: center;
    padding-top: 10px;
}



.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.voice-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}

.voice-dropping,
.voice-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}

.voice-title-wrap {
    padding: 10px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.file-upload-voice {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.upload-voice {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.upload-voice:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.upload-voice:active {
    border: 0;
    transition: all 0.2s ease;
}


.header {
    width: 100%;
    height: 100px;
    display: flex;
    box-shadow: 1px 10px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 10px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 10px 5px 0 rgba(0, 0, 0, 0.25);
}

.center {
    flex: 1 0 0;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0.5px;
    color: #0484ee;
}




#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
  }
  
  #loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
  }